
  <div class="container">
    <div id="header">
      <div id="logo">
      </div>
      <div>
        <h3> Intent to Prescribe </h3>
      </div>
    </div>
  <div id="info-1">
    <p><strong>Important Information</strong></p>
    <ul>
      <li>This form must be filled out completely by a healthcare professional.</li>
      <li>Intent to prescribe is only available until <strong>12/31/18</strong></li>
      <li>All data collected is confidential and is for manufacturing projections</li>
      <li>This is not a contractual agreement, just an estimate of units to be prescribed</li>
      <li>Healthcare providers completing "Intent to Prescribe" will have priority status upon product launch.</li>
    </ul>
  </div>
  <div id="info-2">
    <p><strong>This form can be filled out and submitted in the following ways: </strong></p>
    <ul>
      <li>Digitally, online, at tommy@tommy.com - (Highly Recommended)</li>
      <li>Filling out the digital PDF and emailing it to pre-orders@tommy.com</li>
      <li>Printing it out and completing it by hand, then faxing it in to: 1-888-888-8888</li>
    </ul>
  </div>
  </div>
  <div class="container">
    <div>
    <%= render 'form', form: @form %>
  </div>
</div>
